@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
  box-sizing: border-box;
}

body {
  background-image: url('https://thumbs.dreamstime.com/b/green-money-background-5741550.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
}
.main{
  margin: 30px auto;
  width: 350px;
  background-color: rgba(209, 200, 200, 0.418);
  border: 2px solid white;
  filter: brightness(1.2);
  border-radius: 10px;
}
.container {
  margin: 20px auto;
  padding: 20px;
  width: 300px;
  background-color: rgb(0, 0, 0);
  border: 2px solid white;
  filter: brightness(1.2);
  border-radius: 10px;
}
.header{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.Logo{
  height: 120px;
  width: 120px;
  border-radius: 50%;
  padding: 20px;
  background-color: rgb(0, 0, 0);
}
h1 {
  letter-spacing: 1px;
  margin: 0;
  text-align: center;
  color: whitesmoke;
}

h2 {
  letter-spacing: 1px;
  margin: 0;
  text-align: center;
  color: whitesmoke;
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 40px 0 10px;
  text-align: center;
  color: rgb(255, 255, 255);
}

h4 {
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  color: rgb(255, 255, 255);
}

.inc-exp-container {
  background-color: grey;
  box-shadow: 2px 2px 4px white;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding: 20px;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 2px solid #dedede;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: #024e22;
  font-weight: bold;
}

.money.minus {
  color: #aa0d0d;
  font-weight: bold;
}

label {
  display: inline-block;
  margin: 10px 0;
  font-weight: bold;
}

input[type='text'],
input[type='number'] {
  border: 1px solid #dedede;
  border-radius: 5px;
  display: block;
  font-size: 13px;
  padding: 10px;
  width: 100%;
}

.btn {
  cursor: pointer;
  background-color: rgb(6, 73, 59);
  box-shadow: var(--box-shadow);
  color: rgb(255, 255, 255);
  border: 0;
  display: block;
  font-size: 20px;
  margin: 30px 0 10px;
  padding: 20px;
  width: 100%;
  font-weight: bold;
  border-radius: 10px;
}

.btn:focus,
.delete-btn:focus {
  outline: 5px;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
  
}

.list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
  
}

.list li.plus {
  border-right: 5px solid #024e22;
}

.list li.plus:hover {
  border-right: 5px solid #024e22;
  background-color: #024e22;
  color: #f7f7f7
}

.list li.minus {
  border-right: 5px solid #aa0d0d;
}

.list li.minus:hover {
  border-right: 5px solid #aa0d0d;
  background-color: #aa0d0d;
  color: #f7f7f7
}


.delete-btn {
  cursor: pointer;
  background-color: #8a6a66;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
  opacity: 1;
  background-color: red;
}